<!DOCTYPE html>

{% load static %}

<head>
    <title>Weather App</title>
    <script type="text/javascript" src="{% static 'js/jquery/jquery-2.1.1.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery-ui/jquery-ui.min.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'js/jquery-ui/jquery-ui.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'mainweather/index.css' %}">
</head>

<body>

<h1>Today's Weather</h1>
<br />
<label>Location:: </label><label id="lblMyLocation">{{mylocation}}</label>
<br />
<br />
<label>Temperature: </label><label id="lblMyTemperature">{{mytemperature}}</label>
<br />
<br />
<label>Humidity: </label><label id="lblMyHumidity">{{myhumidity}}</label>
<br />
<br />
<label>Wind: </label><label id="lblMyWind">{{mywind}}</label>
<br />
<br />
<label id="lblMyTimeUpdated">{{mytimeupdated}}</label>
<br />
<br />
<button id="btnRefresh">Refresh</button>

<script>
    $( "#btnRefresh" ).click(function() {
             $.ajax({
                  url : "http://api.wunderground.com/api/ab3d94cc2564b618/geolookup/conditions/q/IA/Cincinnati.json",
                  dataType : "jsonp",
                  success : function(parsed_json) {
                  var location = parsed_json['location']['city'];
                  var temp_c = parsed_json['current_observation']['temperature_string'];
                  var humidity = parsed_json['current_observation']['relative_humidity'];
                  var wind = parsed_json['current_observation']['wind_string'];
                  var timeupdated = parsed_json['current_observation']['observation_time'];
                  $("#lblMyLocation").text(location);
                  $("#lblMyTemperature").text(temp_c);
                  $("#lblMyHumidity").text(humidity);
                  $("#lblMyWind").text(wind);
                  $("#lblMyTimeUpdated").text(timeupdated);
                  }
                  });
    });
</script>

</body>